{
  "root": true,
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "testing-library"
  ],
  "extends": [
    "airbnb",
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "arrow-body-style": ["error", "never"],
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
      
    ],
    "no-console":"off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".jsx",
          ".tsx"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    },
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    }
  }
}