node_modules

.cache
.env

api/
/build/
/public/build
/api/index.js
/api/index.js.map
/.cache
/functions/\[\[path\]\].js
/functions/\[\[path\]\].js.map
/dist
/.mf
/coverage
/test-results/
/playwright-report/
/playwright/.cache/

/app/constants/oAuth.js

.DS_Store